@using UK_Games.Infrastructure
@{
    ViewData["Title"] = "Home Page";
    Layout = "_StandardLayout";
}

<div class="text-center main">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col-10">
            <div class="row">
                <h4 style="text-align:center;">Games</h4>
                @{
                    foreach (Game game in DataUtil.Data.Games)
                    {
                        if (game != null)
                        {
                            <div class="col-3">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Game", new {id = game.ID})">
                                    <img src="@game.ImagePath.Replace("~/", "")" width="100%" height="auto"/>
                                </a>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="col-2">
            @{
                if (Context.Session.GetString("loggedIn") == "true")
                {
                    <h3>Recently Played</h3>
                    
                    int NUM_TO_DISPLAY = 10;
                    User? user = GeneralMethods.GetLoggedInUser(Context.Session);
                    List<KeyValuePair<DateTime, Game?>> recent = user?.Played.ToList<KeyValuePair<DateTime, Game?>>() ?? new();
                    recent.Reverse();

                    for (int i=0; i<recent.Count && i<NUM_TO_DISPLAY; ++i)
                    {
                        if (recent[i].Value != null)
                        {
                            <p3>@recent[i].Key.ToShortDateString() : @recent[i].Value?.Name</p3>
                            <br>
                        }
                    }
                } else {
                    <h3>Login to see recently played</h3>
                }
            }
        </div>
    </div>
</div>