@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="row mt-5">
    <div class="col-2">
        
    </div>
    <div class="col-8">
        <div class="card border-primary mb-3">
            <div class="card-body" style="padding: 0 !important;">
                <div class="row">
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <img src="~/img/backgrounds/login.jpeg" class="img-fluid" alt="Login Image"/>
                    </div>
                    <div class="col-6" style="padding-top: var(--bs-card-cap-padding-y) !important; padding-bottom: var(--bs-card-cap-padding-y) !important; padding-left: 0;">
                        <h4 class="card-title">Dark card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        
    </div>
</div>