@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Logout";
}

<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card border-primary mb-3">
            <div class="card-body" style="padding: 1em !important">
                <div class="text-center">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/img/logos/UK Games full.png" width="80%" class="img-fluid"/>
                    </a>
                </div>
                <div class="row" style="justify-content: center; text-align: center;">
                    <h1>Logout</h1>

                    <p>You have successfully logged out of the application.</p>

                    <div class="col-4">
                        <a class="btn btn-secondary" role="button" href="@Url.Action("Login")" style="margin-bottom: 1em; color: white !important;">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>