@{
    ViewData["Title"] = "Solitaire Collection";
    Layout = "_StandardLayout";
}
@*
 Game from https://www.htmlgames.com/html5-games-for-your-site/
*@

<div class="game">
    <script src="https://cdn.htmlgames.com/embed.js?game=2048Billiards&amp;bgcolor=white"></script>
</div>