@{
    Layout = "_StandardLayout";
    Game game = ViewBag.Game;
    ViewData["Title"] = game.Name;
    
    if (game != null)
    {
        <h1 style="text-align: center">@game.Name</h1>
        <div class="game">
            @Html.Raw(game.Embed)
        </div>

        if (game.RefURL != "" || game.RefURL != null)
        {
            <p style="text-align: center"><small>Game from: <a href="@game.RefURL">@game.RefURL</a></small></p>
        }
    }
    else
    {
        Context.Response.Redirect(Url.Action("Index", "Home"));
    }
}
